/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/** {
    transform-origin: 0px 0px 0px;
}*/

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */
html {height: 100%;}
html,
body {
  width: auto;
  min-height: 100%;
  background-color: #333;
}
body {
  padding-top: 60px;
  color: #fff;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
}

.chart-body {
  padding-top: 0;
}

.nounderline{text-decoration: none !important}

h1 {
font-size: 1.5em;
}

h4 {
font-size: 1.2em;
}

p {
font-size: 1.5em;
}

.lead {
font-size: 1.4em;
}

.ip-histroy > thead > tr > th {
    text-align: center;
    border: 0;
}

.table > thead > tr > th {
    /*text-align: center;*/
    border: 0;
}

.domain > thead > tr > th {
  text-align: left;
}

.sort-table {
  display: none;
}

.sort-table > thead > tr > th {
  text-align: left;
}

#whois {
  margin-bottom: 50px;
}

.more-wrapper {
  text-align: center;
}

.table-whois > tbody > tr > td{
    /*text-align: center;*/
    word-break: break-all;
}

.table-ip > tbody > tr > td{
    /*text-align: center;*/
    word-break: break-all;
}

thead tr {
    border: 0;
}

td {
border-top: 1px solid #777;
border-color: #777;
}

[data-domain] {
  margin-bottom: 7px;
  cursor: pointer;
}

#domain-status {
  cursor: pointer;
}

tr {
border-top: 1px solid #777;
border-color: #777;
}

.mg20 {margin-top: 20px;}
.mg_l25{margin-left: 25%;}

.left {float: left;}

.header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 8px 20px;
  background: #000;
  text-align: left;
  line-height: 44px;
  font-size: 0;
}

.header-wrapper .logo {
  width: 30px;
  height: 24px;
  vertical-align: middle;
  margin: -3px 10px 0 0;
}

.header-wrapper .c_name {
  font-size: 20px;
  vertical-align: middle;
  color: #01acfe;
  font-weight: 700;
}

.header {
    /*position: fixed;*/
    /*top: 10px;*/
    /*right: 20px;*/
    float: right;
    padding: 4px;
    border: 1px solid #999;
    border-radius: 5px;
}

.header-inner {
    line-height: 34px;
    cursor: pointer;
}

.mini-avatar {
    float: left;
    height: 34px;
    width: 34px;
    margin-right: 10px;
    font-size: 0;
}

.mini-avatar img {
    height: 34px;
}

.header-inner span {
    float: left;
    margin-right: 10px;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
}

.dropdown-menu {
    left: auto;
    right: 0;
}

.log-arrow-up {
    background: url(../img/arrow-up.png) no-repeat;
    width: 20px;
    height: 11px;
    position: absolute;
    right: 20px;
    top: -10px;
}

#myModalpw {
  color: black;
  font-family: "Microsoft YaHei";
  font-weight: lighter;
}
#port {
  color: black;
  font-family: "Microsoft YaHei";
  font-weight: lighter;
}

.content {
  width: 100%;
  height: 100%;
  background: url("../img/bg.png") no-repeat;
  background-position: bottom;
}

.search-inner {
  padding-top: 200px;
  text-align: center;
}

.search-inner img {
  height: 150px;
  width: 150px;
}

.search-bar {
  margin-left: 36%;
}

.go-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #e7eaf1;
  border: 0;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  display: none;
}

.go-top:hover {
    background: #d5dbe7;
}

.btn:focus,
button:focus {
  outline: none;
}

.btn:active:focus {
  outline: none;
}

.port-info p {
  text-align: left;
  font-size: 14px;
}

.more-info {
  height: 210px;
  padding: 10px;
  background: #999999;
  font-size: 14px;
}

.more-info pre {
  height: 100%;
  font-size: 14px;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.inner-wrapper {
    position: relative;
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    width: 100%;
    padding-top: 100px;
    /*box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}

.map {
  margin-bottom: 20px;
}

.fix:after {
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
}

@media (min-width: 768px) {
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 800px;
  }
}

.inner {
  padding: 30px;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.result {
    color: #00CC00;
    text-align: left;
    font-size: 1.5em;
    line-height: 2.7em;
}

.nav-btn {
    margin: 10px 0 30px;
    border-bottom: 1px solid;
    text-align: right;
}

.nav-btn a {
    display: inline-block;
    padding: .3em .6em .3em;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #3bb4ef;
    font-weight: 700;
    font-size: 20px;
}

.title span {
  font-size: 0.7em;
  font-weight: normal;
  color: #777;
}

.table-his {
    max-height: 380px;
    overflow: auto;
}

#svg {
  margin-bottom: 100px;
}

.link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1px;
    }

.node rect {
    fill: #333;
    stroke: #999;
    stroke-width: 1px;
}

.node .domain {
    stroke: #0ec90e;
}

.node .ip {
    stroke: #F16304;
}

.node .site {
  stroke: #f1e704;
}

.node .child {
    stroke: #43e7ff;
}

i[data-parent] {
  cursor: pointer;
}

.port-success {
  color: #0ec90e;
}

.sort {
  cursor: not-allowed;
}

.sort.complete {
  color: #FFF;
  background-color: #31b0d5;
  border-color: #269abc;
  cursor: pointer;
}

.sort.complete:hover {
  color: #fff;
      background-color: #21a0c5;
    border-color: #2299bd;
}

#subdomain {
  display: none;
}
#download {
  display: none;
}
#chart {
  display: none;
}

.filter {
    cursor: not-allowed;
}

.filter.complete {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  cursor: pointer
}
.filter.complete:hover {
    background-color: #286090;
    border-color: #204d74;
}

#filter_text {
  z-index: 1;
}

.nofilter {
  padding: 10px;
  border: 1px solid #66afe9;
  border-radius: 5px;
  text-align: center;
  display: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.nowhois {
  padding: 10px;
  border: 1px solid #66afe9;
  border-radius: 5px;
  text-align: center;
  display: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.nodomain {
  padding: 10px;
  border: 1px solid #66afe9;
  border-radius: 5px;
  text-align: center;
  display: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

[data-search-ip] {
  cursor: pointer;
}

.node {
  cursor: pointer;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node text {
  fill: white;
  font: 12px sans-serif;
}
.link {
  fill: none;
  stroke: #999;
  stroke-width: 1.5px;
}

#tree_domain_svg {
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.cms {
  background: #3e773e;
  padding: 1px 2px 3px;
  border-radius: 2px;
  vertical-align: middle;
  cursor: pointer;
  font-family: "SumHei";
  color: white;
}

.cms.cms-server {
  background: #3e773e;
}

.cms.cms-pdt {
  background: #056d96;
}

.important {
  display: table-row;
}

.not-important {
  display: none;
}

.g-content {
  height: 8000px;
  width: 100%;
}

.sort-domain {
  display: block;
  margin-bottom: 7px;
}

span.label i {
  vertical-align: middle;
}

.chart-title {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.nav-side {
  position: fixed;
  padding: 0;
  top: 200px;
  right: 0px;
  width: 20px;
  /*border-right: 1px solid white;*/
  box-sizing: content-box;
}

.nav-side a {
  padding: 0.3em 0.2em;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 75%;
  font-weight: 700;
  border-radius: .25em;
  background-color: #777;
}

.nav-side a:last-child {
  margin-bottom: 0;
}

.nav-side span {
    display: inline-block;
    width: 15px;
}



/*loading animate*/
/*.loading {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
}*/

.pageloader3 {
  position: fixed;
  top: 100px;
  right: 5%;
  text-align: left;

}

.pageloader3 .spinner {
    /*display: inline-block;*/
    margin-bottom: 10px;
}
.pageloader3 .loader {
    width: 40px;
    height:40px;
    margin: auto;
    padding-top: 0px;
}
.pageloader3 .loader .circle {
    position: absolute;
    width: 38px;
    height: 38px;
    opacity: 0;
    transform: rotate(225deg);
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: orbit;
    -moz-animation-name: orbit;
    animation-name: orbit;
    -webkit-animation-duration: 5.5s;
    -moz-animation-duration: 5.5s;
    animation-duration: 5.5s;
}
.pageloader3 .loader .circle:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: white;
    /* Pick a color */
}
.pageloader3 .loader .circle:nth-child(2) {
    -webkit-animation-delay: 240ms;
    -moz-animation-delay: 240ms;
    animation-delay: 240ms;
}
.pageloader3 .loader .circle:nth-child(3) {
    -webkit-animation-delay: 480ms;
    -moz-animation-delay: 480ms;
    animation-delay: 480ms;
}
.pageloader3 .loader .circle:nth-child(4) {
    -webkit-animation-delay: 720ms;
    -moz-animation-delay: 720ms;
    animation-delay: 720ms;
}
.pageloader3 .loader .circle:nth-child(5) {
    -webkit-animation-delay: 960ms;
    -moz-animation-delay: 960ms;
    animation-delay: 960ms;
}
@-webkit-keyframes orbit {
    0% {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    7% {
        transform: rotate(345deg);
        animation-timing-function: linear;
    }
    30% {
        transform: rotate(455deg);
        animation-timing-function: ease-in-out;
    }
    39% {
        transform: rotate(690deg);
        animation-timing-function: linear;
    }
    70% {
        transform: rotate(815deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    75% {
        transform: rotate(945deg);
        animation-timing-function: ease-out;
    }
    76% {
        transform: rotate(945deg);
        opacity: 0;
    }
    100% {
        transform: rotate(945deg);
        opacity: 0;
    }
}
@keyframes orbit {
    0% {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    7% {
        transform: rotate(345deg);
        animation-timing-function: linear;
    }
    30% {
        transform: rotate(455deg);
        animation-timing-function: ease-in-out;
    }
    39% {
        transform: rotate(690deg);
        animation-timing-function: linear;
    }
    70% {
        transform: rotate(815deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    75% {
        transform: rotate(945deg);
        animation-timing-function: ease-out;
    }
    76% {
        transform: rotate(945deg);
        opacity: 0;
    }
    100% {
        transform: rotate(945deg);
        opacity: 0;
    }
}