<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>子域名关系图</title>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/dns.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/jquery-jvectormap-2.0.3.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/flag.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
</head>

<body>
    <div class="wrapper">
        <div class="inner-wrapper">
            <h1 class="title" style="font-size: 30px;text-align:center;margin-bottom: 20px;">子域名关系图</h1>
            <div id="svg">

            </div>
        </div>
    </div>
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/myalert.js') }}"></script>
    <script src="{{ static_url('js/table2excel.js') }}"></script>
    <!--<script src="{{ static_url('js/jquery-jvectormap-2.0.3.min.js') }}"></script>-->
    <!--<script src="{{ static_url('js/jquery-jvectormap-world-mill-en.js') }}"></script>-->
    <script src="{{ static_url('js/d3.min.js') }}"></script>
    <!--<script src="{{ static_url('js/paint.js') }}"></script>-->
    <script src="{{ static_url('js/domain_tree.js') }}"></script>
    <!--<script src="{{ static_url('js/dns.js') }}"></script>-->
    <script>
        var chartObj = JSON.parse(window.localStorage["chartObj"])
        $(".title").html(chartObj.name + " 子域名关系图")
        var width = "1000px"
        var l = 0,
            i
        for (i = 0; i <chartObj.children.length; i++) {
            l += chartObj.children[i].children.length
        }
        console.log(l)
        var height = l * 50
        console.log("height", height)
        domainPaint(window.localStorage["chartObj"], "1000px", height)
    </script>
</body>

</html>