<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>域名分析系统</title>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/dns.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/jquery-jvectormap-2.0.3.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/flag.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
</head>

<body style="height:100%">
    <div class="header-wrapper">
        <img class="logo" src="{{ static_url('img/logo1.png') }}" alt="">
        <span class="c_name">域名信息分析系统</span>
        <div class="header">
            <div class="header-inner" data-toggle="dropdown" class="dropdown-toggle">
                <!--<div class="mini-avatar">-->
                    <!--<img src="{{ static_url('img/{}.png'.format(avatar)) }}" alt="avatar">-->
                <!--</div>-->
                <span>{{username}}</span>
                <b class="caret"></b>
                <!--<button id="logout" class="btn btn-primary" type="button">登出</button>-->
            </div>
            <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li><a href="#" data-toggle="modal" data-target="#modal-modify-password"><i class="fa fa-unlock"></i> 修改密码</a></li>
                <li><a id="logout" href="/logout"><i class="fa fa-unlink"></i> 登出</a></li>
            </ul>
        </div>
    </div>
    <div class="content fix">
        <div class="search-inner">
            <img src="{{ static_url('img/logo.png') }}" alt="">
            <div class="form-group mg20 fix">
                <div class="col-md-3 search-bar">
                    <input id="input-content" class="form-control" type="text" placeholder="exampledomain.com" name="targetip" id="regularInput">
                </div>
                <button id="btn-query" type="submit" class="btn btn-default left">查询 <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
        </div>
    </div>
    <div id="modal-modify-password" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">修改密码</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <label for="input-old-password" class="col-sm-2 control-label" style="color: #000;">旧密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="input-old-password" placeholder="旧密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-new-password" class="col-sm-2 control-label" style="color: #000;">新密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="input-new-password" placeholder="新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-new-password-repeat" class="col-sm-2 control-label" style="color: #000;">确认密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="input-new-password-repeat" placeholder="确认密码">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary submit">确定</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/myalert.js') }}"></script>
    <script src="{{ static_url('js/modify_password.js') }}"></script>
    <script>
        $('body').keydown(function(e) {
          if (e.keyCode == 13) {
            $('#btn-query').click()
          }
        });

        $('#btn-query').on('click', function() {
            var inputContent = $('#input-content').val();
            if (inputContent) {
                if (checkIp(inputContent)) {
                    window.location.href = "/reverse_ip_lookup_new?ip=" + inputContent;
                } else if(checkeURL(inputContent)) {
                    window.location.href = "/result_new?&content=" + inputContent
                } else {
                    myalert("请输入合法的域名", "tipwrong")
                }
            } else {
                myalert("搜索内容不能为空")
            }
        });

        function checkeURL(URL){
            var str=URL;
            var reg = /((https|http|ftp|rtsp|mms):\/\/)?(([0-9a-z_!~*'().&=+$%-]+:)?[0-9a-z_!~*'().&=+$%-]+@)?(([0-9]{1,3}\.){3}[0-9]{1,3}|([0-9a-z_!~*'()-]+\.)*([0-9a-z][0-9a-z-]{0,61})?[0-9a-z]\.[a-z]{2,6})(:[0-9]{1,4})?((\/?)|(\/[0-9a-z_!~*'().;?:@&=+$,%#-]+)+\/?)/g;
            var objExp=new RegExp(reg);
            if (objExp.test(str)) {
                return true
            } else {
                return false
            }
        }

        function checkIp(ip) {
            var regx = /^(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|[1-9])\.(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|\d)\.(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|\d)\.(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|\d)$/;
            return regx.test(ip);
        }
    </script>
</body>

</html>