<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>域名分析系统</title>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/dns.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/jquery-jvectormap-2.0.3.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/flag.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
</head>

<body>
    <div class="header-wrapper">
        <img class="logo" src="{{ static_url('img/logo1.png') }}" alt="">
        <span class="c_name">域名分析系统</span>
        <div class="header">
            <div class="header-inner" data-toggle="dropdown" class="dropdown-toggle">
                <!--<div class="mini-avatar">-->
                    <!--<img src="{{ static_url('img/avatar.png') }}" alt="avatar">-->
                <!--</div>-->
                <span>tom</span>
                <b class="caret"></b>
                <!--<button id="logout" class="btn btn-primary" type="button">登出</button>-->
            </div>
            <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li><a href="#" data-toggle="modal" data-target="#modal-modify-password"><i class="fa fa-unlock"></i> 修改密码</a></li>
                <li><a id="logout" href="/logout"><i class="fa fa-unlink"></i> 登出</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="inner-wrapper">
            <div class="container fix">
                <div class="cover-container">
                    <div class="inner cover">
                        <h1 class="cover-heading">域名信息分析系统</h1>
                        <div class="form-group mg20 fix">
                            <!--<div class="col-md-3"></div>-->
                            <div class="col-md-6 mg_l25">
                                <input id="input-content" class="form-control" type="text" placeholder="exampledomain.com" name="targetip" id="regularInput">
                            </div>
                            <button id="btn-query" type="submit" class="btn btn-default left">查询 <span class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                        <h4 class="result"><span style="font-weight: 700;">vip.com</span> 的查询结果 :</h4>

                        <div id="whois">
                            <p class="title">域名列表</p>
                            <div class="table-responsive" style="text-align: left;">
                                <table class="table table-ip" style="font-size: 1.1em; border-color: #777;">
                                    <thead>
                                        <tr>
                                            <th class="col-md-4">域名</th>
                                            <th class="col-md-4">URL</th>
                                            <th class="col-md-4">title</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <h2 class="nodomain">没有子域名</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="button go-top" type="button">
        <svg width="16" height="16" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg" class="Icon Icon--backToTopArrow" aria-hidden="true" style="height: 16px; width: 16px; fill: #9aaabf;" >
            <title>回到顶部</title>
            <g>
                <path d="M12.036 15.59c0 .55-.453.995-.997.995H5.032c-.55 0-.997-.445-.997-.996V8.584H1.03c-1.1 0-1.36-.633-.578-1.416L7.33.29c.39-.39 1.026-.385 1.412 0l6.878 6.88c.782.78.523 1.415-.58 1.415h-3.004v7.004z" fill-rule="evenodd"></path>
            </g>
        </svg>
    </button>
     <div id="modal-modify-password" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">修改密码</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <label for="input-old-password" class="col-sm-2 control-label" style="color: #000;">旧密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="input-old-password" placeholder="旧密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-new-password" class="col-sm-2 control-label" style="color: #000;">新密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="input-new-password" placeholder="新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-new-password-repeat" class="col-sm-2 control-label" style="color: #000;">确认密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="input-new-password-repeat" placeholder="确认密码">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary submit">确定</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ static_url('js/config.js') }}"></script>
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/myalert.js') }}"></script>
    <script src="{{ static_url('js/modify_password.js') }}"></script>
    <script src="{{ static_url('js/ip.js') }}"></script>
    <script>
        $('#btn-query').on('click', function() {
            var inputContent = $('#input-content').val();
            if (inputContent) {
                if (checkIp(inputContent)) {
                    window.location.href = "/reverse_ip_lookup_new?ip=" + inputContent;
                } else if(checkeURL(inputContent)) {
                    window.location.href = "/result_new?&content=" + inputContent
                } else {
                    myalert("请输入合法的域名", "tipwrong")
                }
            } else {
                myalert("搜索内容不能为空")
            }
        });

        function checkeURL(URL){
            var str=URL;
            var reg = /((https|http|ftp|rtsp|mms):\/\/)?(([0-9a-z_!~*'().&=+$%-]+:)?[0-9a-z_!~*'().&=+$%-]+@)?(([0-9]{1,3}\.){3}[0-9]{1,3}|([0-9a-z_!~*'()-]+\.)*([0-9a-z][0-9a-z-]{0,61})?[0-9a-z]\.[a-z]{2,6})(:[0-9]{1,4})?((\/?)|(\/[0-9a-z_!~*'().;?:@&=+$,%#-]+)+\/?)/g;
            var objExp=new RegExp(reg);
            if (objExp.test(str)) {
                return true
            } else {
                return false
            }
        }

        function checkIp(ip) {
            var regx = /^(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|[1-9])\.(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|\d)\.(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|\d)\.(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|\d)$/;
            return regx.test(ip);
        }
    </script>
</body>

</html>
